.calendar {
  border-radius: 5px;
  padding: 30px;
}
.calendar-month {
  width: 300px;
  user-select: none;
}
.calendar-month_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.calendar-week,
.calendar-days_of_week {
  display: flex;
  justify-content: space-between;
}
.calendar-week-day,
.calendar-days_of_week_day {
  display: inline-block;
  width: 40px;
  text-align: center;
  line-height: 30px;
  opacity: 0.5;
}
.calendar-week-day {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
.calendar-week-day.is-selectable {
  cursor: pointer;
}
.calendar-week-day.is-disabled {
  background: #f5f5f5;
}
.calendar-week-day.is-current_month {
  opacity: 1;
}
.calendar-week-day.is-selected {
  background: #008000;
}
.calendar-week-day.is-selected.is-start_selection {
  background: #f00;
}
.calendar-week-day.is-selected.is-end_selection {
  background: #00f;
}
.calendar-header_button.is-prev:before {
  content: '<';
}
.calendar-header_button.is-next:before {
  content: '>';
}
