.default-card{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  border-radius: 0rem;
  border: none;
  box-shadow: 1px 1px 4px 0px rgba(78, 78, 78, 0.185);
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 40%; 
}
.small-card{
  width: 150px;
  height: 150px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1vw;
}
.medium-card{
  width: 200px;
  height: 200px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
}
.large-card{
  width: 300px;
  height: 300px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3vw;
}
.yellow-post {
  background-color: #FDF21C;
}
.pink-post {
  background-color: #ff65a3;
}
.blue-post {
  background-color: #7afcff;
}
.none-post {
  background-color: transparent;
  box-shadow: none;
}
.default-hover {
  position: absolute;
  z-index: 9;
  border: 3px solid rgb(126, 225, 255);
}
.default-hover-active {
  position: absolute;
  z-index: 9;
  border: 3px solid rgb(65, 117, 133);
}
.delete-button{
  position: absolute;
  z-index: 10;
  user-select: none;
  width: 0px;
  height: 0px;
  border-top: 30px solid rgb(126, 225, 255);
  border-left: 30px solid transparent;
  font-size: 13px;
  color: white;
  background-color: rgba(0, 0, 0, 0.281);
}
.delete-button-hover{
  position: absolute;
  z-index: 10;
  user-select: none;
  width: 0px;
  height: 0px;
  border-top: 30px solid rgb(65, 117, 133);
  border-left: 30px solid transparent;
  font-size: 13px;
  color: white;
  background-color: rgba(0, 0, 0, 0.281);
}
.delete-button :first-child{
  position: absolute;
  top: -32px; 
  right: 14px;
}
.delete-button-hover :first-child{
  position: absolute;
  top: -32px; 
  right: 14px;
}