.default-card{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  border-radius: 0rem;
  border: none;
  box-shadow: 1px 1px 4px 0px rgba(78, 78, 78, 0.185);
  position: absolute;
  top: 30%;
  left: 40%; 
}
.small-card{
  width: 150px;
  height: 150px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1vw;
}
.medium-card{
  width: 200px;
  height: 200px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
}
.large-card{
  width: 300px;
  height: 300px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3vw;
}
.yellow-post {
  background-color: #FDF21C;
}
.pink-post {
  background-color: #ff65a3;
}
.blue-post {
  background-color: #7afcff;
}
.none-post {
  background-color: transparent;
  box-shadow: none;
}
.default-hover {
  pointer-events:none;
  position: absolute;
  z-index: 11;
  border: 3px solid rgb(126, 225, 255);
}
.default-hover-active {
  pointer-events:none;
  position: absolute;
  z-index: 11;
  border: 3px solid rgb(65, 117, 133);
  cursor: pointer;
}
.drag-title{
  width: 0px;
  height: 0px;
  border-top: 30px solid rgba(255, 255, 255, 0.7);
  border-right: 30px solid transparent;
  pointer-events:all;
  position: absolute;
  z-index: 11;
  cursor: move;
}
.delete-button{
  pointer-events:all;
  position: absolute;
  z-index: 11;
  user-select: none;
  width: 0px;
  height: 0px;
  border-top: 30px solid rgb(126, 225, 255);
  border-left: 30px solid transparent;
  font-size: 13px;
  color: white;
  background-color: rgba(0, 0, 0, 0.281);
}
.delete-button-hover{
  pointer-events:all;
  position: absolute;
  z-index: 11;
  user-select: none;
  width: 0px;
  height: 0px;
  border-top: 30px solid rgb(65, 117, 133);
  border-left: 30px solid transparent;
  font-size: 13px;
  color: white;
  background-color: rgba(0, 0, 0, 0.281);
}
.delete-button :first-child{
  position: absolute;
  top: -32px; 
  right: 14px;
}
.delete-button-hover :first-child{
  position: absolute;
  top: -32px; 
  right: 14px;
}
.small-vid{
  width: 320px;
  height: 195px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1vw;
}
.medium-vid{
  width: 512px;
  height: 312px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
}
.large-vid{
  width: 640px;
  height: 390px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3vw;
}
.code-style {
  font-family: 'Consolas', 'monaco', monospace;
  background-color: rgb(201, 201, 201);
  color: white;
  font-size: 30px;
}

.code-style pre{
  font-family: 'Consolas', 'monaco', 'monospace';
  color: white !important;
  font-size: 30px;
}

.l-checkbox {
  width : 30px;
  height : 30px;
  padding-right: 10px;
}

.m-checkbox {
  width : 25px;
  height : 25px;
  padding-right: 10px;
}

.s-checkbox {
  width : 20px;
  height : 20px;
  padding-right: 10px;
}

.small-check{
  width: 200px;
  height: 30x0px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1vw;
}
.medium-check{
  width: 300px;
  height: 450px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
}
.large-check{
  width: 400px;
  height: 600px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2vw;
}