.active-box {
  width: 1500px;
  height: 800px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #7c7c7c;
  background-color: #ffffff83;
  border-style: dashed;
  z-index:4;
}
.drag {
  color: #7c7c7c;
  position:absolute;
  font-size: 500%;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.canvas {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.field {
  width: 1500px;
  height: 800px;
  position: relative;
}
.paper {
  width: 1500px;
  height: 800px;
  border: 2px solid #eeeeee9d;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: -1;
  pointer-events: none;
}
.card-field {
  width: 1500px;
  height: 800px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  overflow: hidden;
  pointer-events: none;
}
.card-field-active {
  width: 1500px;
  height: 800px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 3;
}
