.postit-form {
  width: 480px;
  height: 320px;
  top: 50%;
  left: 50%;
  position:absolute;
  border: none;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0px 12px 0 rgba(0,0,0,0.2);
}
.card-header{
  border: none;
}
.card-header:first-child{
  border-radius: 10px;
}
.card-footer{
  border: none;
}
.card-header:first-child{
  border-radius: 10px;
}

.text-box{
  outline: none;
}
textarea.form-control{
  padding-top: 0px;
  padding-bottom: 0px;
  height: 6em;
}
textarea {
  outline: none;
  border: none;
  overflow: hidden;
  resize: none;
  height: 6em;
  font-size: 1.5rem;
}
.card-form-control{
  border: none;
  background-color: transparent;
  box-shadow: none;
  border: none !important;
  font-size: 1.5rem;
}
.card-form-control:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  height: 6em;
}
.ball {
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.ball:hover{
  box-shadow: 0px 0px 0px 4px rgba(139, 139, 139, 0.185);
}
.yellow {
  background-color: #FDF21C;
}
.pink {
  background-color: #ff65a3;
}
.blue {
  background-color: #7afcff;
}
.none {
  background-color: none;
  border: 1px dashed rgb(133, 133, 133);
}
.yellow-active {
  background-color: #FDF21C;
  box-shadow: 0px 0px 0px 4px rgba(139, 139, 139, 0.185);
}
.pink-active {
  background-color: #ff65a3;
  box-shadow: 0px 0px 0px 4px rgba(139, 139, 139, 0.185);
}
.blue-active {
  background-color: #7afcff;
  box-shadow: 0px 0px 0px 4px rgba(139, 139, 139, 0.185);
}
.none-active {
  background-color: none;
  box-shadow: 0px 0px 0px 4px rgba(139, 139, 139, 0.185);
  border: 1px dashed rgb(133, 133, 133);
}
.text-area-bg{
  padding: 10px;
}

.size-ball {
  width: 4vh;
  height: 3vh;
  border-radius: 0.8vh;
  cursor: pointer;
}
.size-ball:hover{
  background-color: rgba(139, 139, 139, 0.185);
}
.size-ball-active {
  width: 4vh;
  height: 3vh;
  border-radius: 0.8vh;
  background-color: rgba(139, 139, 139, 0.185);
  cursor: pointer;
}