.ispresent-true{
    border-radius: 5px;
    background-color: red;
    color : white;
}
.ispresent-false{
    border-radius: 5px;
    background-color: blue;
    color : white;
}
.userBackground-1 {
    width : 50px;
    height : 50px;
    border-radius: 50%;
    background-color: #9E005D;
    color : white;
    text-align: center;
}
.userBackground-2 {
    width : 50px;
    height : 50px;
    border-radius: 50%;
    background-color: #D4145A;
    color : white;
    text-align: center;
}
.userBackground-3 {
    width : 50px;
    height : 50px;
    border-radius: 50%;
    background-color: #0071BC;
    color : white;
    text-align: center;
}
.userBackground-4 {
    width : 50px;
    height : 50px;
    border-radius: 50%;
    background-color: #202C5D;
    color : white;
    text-align: center;
}
.text{
    padding-left : 13px;
    padding-top : 12px;
    font-size: large;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
    font-size: 12px;
    line-height: 1.42857;
}
.memberBackground-1 {
    width : 30px;
    height : 30px;
    border-radius: 50%;
    background-color: #9E005D;
    color : white;
    text-align: center;
}
.memberBackground-2 {
    width : 30px;
    height : 30px;
    border-radius: 50%;
    background-color: #D4145A;
    color : white;
    text-align: center;
}
.memberBackground-3 {
    width : 30px;
    height : 30px;
    border-radius: 50%;
    background-color: #0071BC;
    color : white;
    text-align: center;
}
.memberBackground-4 {
    width : 30px;
    height : 30px;
    border-radius: 50%;
    background-color: #202C5D;
    color : white;
    text-align: center;
}
.button-page{
    font-family: 'Roboto', sans-serif;
    background-color:'white';
    box-shadow: none;
}
.button-page:hover{
    transition: 0.1s ease-in-out;
    background-color: rgb(216, 216, 216);
    box-shadow: none;
}
.button-page:focus{
    transition: 0.1s ease-in-out;
    background-color: rgb(216, 216, 216);
    box-shadow: none;
}
.roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.board-name {
    border: none;
    height: 35px;
    padding: 5px 0px 5px 10px;
    font-size: 35px;
}