.ispresent-true{
    border-radius: 5px;
    background-color: red;
    color : white;
}
.ispresent-false{
    border-radius: 5px;
    background-color: blue;
    color : white;
}
.userBackground-1 {
    width : 50px;
    height : 50px;
    border-radius: 50%;
    background-color: #9E005D;
    color : white;
    text-align: center;
    transition: 0.1s ease-in-out;
}
.userBackground-1:hover{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
    cursor : pointer
}
.userBackground-2 {
    width : 50px;
    height : 50px;
    border-radius: 50%;
    background-color: #D4145A;
    color : white;
    text-align: center;
    transition: 0.1s ease-in-out;
}
.userBackground-2:hover{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
    cursor : pointer
}
.userBackground-3 {
    width : 50px;
    height : 50px;
    border-radius: 50%;
    background-color: #0071BC;
    color : white;
    text-align: center;
    transition: 0.1s ease-in-out;
}
.userBackground-3:hover{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
    cursor : pointer
}
.userBackground-4 {
    width : 50px;
    height : 50px;
    border-radius: 50%;
    background-color: #202C5D;
    color : white;
    text-align: center;
    transition: 0.1s ease-in-out;
}
.userBackground-4:hover{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
    cursor : pointer
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
    font-size: 12px;
    line-height: 1.42857;
}
.memberBackground-1 {
    width : 30px;
    height : 30px;
    border-radius: 50%;
    background-color: #9E005D;
    color : white;
    text-align: center;
    transition: 0.1s ease-in-out;
}
.memberBackground-1:hover{
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
    cursor : pointer
}
.memberBackground-2 {
    width : 30px;
    height : 30px;
    border-radius: 50%;
    background-color: #D4145A;
    color : white;
    text-align: center;
    transition: 0.1s ease-in-out;
}
.memberBackground-2:hover{
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
    cursor : pointer
}
.memberBackground-3 {
    width : 30px;
    height : 30px;
    border-radius: 50%;
    background-color: #0071BC;
    color : white;
    text-align: center;
    transition: 0.1s ease-in-out;
}
.memberBackground-3:hover{
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
    cursor : pointer
}
.memberBackground-4 {
    width : 30px;
    height : 30px;
    border-radius: 50%;
    background-color: #202C5D;
    color : white;
    text-align: center;
    transition: 0.1s ease-in-out;
}
.memberBackground-4:hover{
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
    cursor : pointer
}
.button-page{
    font-family: 'Roboto', sans-serif;
    background-color:'white';
    box-shadow: none;
}
.button-page:hover{
    transition: 0.1s ease-in-out;
    background-color: rgb(216, 216, 216);
    box-shadow: none;
}
.button-page:focus{
    transition: 0.1s ease-in-out;
    background-color: rgb(216, 216, 216);
    box-shadow: none;
}
.roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.board-name {
    border: none;
    height: 35px;
    padding: 5px 0px 5px 10px;
    font-size: 35px;
  }
.tooltip-profile{
    pointer-events: auto !important;;
    opacity: 1 !important;
}
.profile{
    font-size: 20px;
}
.invite-button{
    width : 40px;
    height : 40px;
    border-radius: 50%;
    background-color: #0071BC;
    color : white;
    text-align: center;
}

.button-user{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: darkorange;
    box-shadow: none;
  }
  .button-user:hover{
    transition: 0.1s ease-in-out;
    color: white;
    box-shadow: 0px 0px 0px 5px rgba(222,222,222,1);
  }

  .popover-dec-header {
    width: 250px;
    box-shadow: 0 0 5px 0 rgb(131, 131, 131);
  }
  .button-logout{
    width: 90px;
    height: 30px;
    font-size: 15px;
    color: rgb(73, 73, 73);
    font-family: 'Roboto', sans-serif;
    background-color:'white';
    box-shadow: 0px 0px 0px 2px rgba(222,222,222,1);
    border-radius: 3px;
    cursor: pointer;
  }
  .button-logout:hover{
    cursor: pointer;
    transition: 0.1s ease-in-out;
    color: white;
    background-color: rgb(255, 60, 60);
    box-shadow: 0px 0px 0px 2px rgba(222,222,222,1);
  }
  .display-name{
    font-size: 18px;
    font-weight: bold;
    color: rgb(75, 75, 75);
  }
  .button-profile{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: white;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    background-color: darkorange;
    box-shadow: none;
  }
  .button-profile:hover{
    transition: 0.1s ease-in-out;
    color: white;
    box-shadow: 0px 0px 0px 5px rgba(222,222,222,1);
  }

  .hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5em 0;
    padding: 0;
}


.button-member{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    background-color: #202C5D;
    box-shadow: none;
  }
  .button-member:hover{
    transition: 0.1s ease-in-out;
    color: white;
    box-shadow: 0px 0px 0px 4px rgba(222,222,222,1);
  }

  .popover-dec-member {
    width: 250px;
    box-shadow: 0 0 5px 0 rgb(131, 131, 131);
  }
  .button-kick{
    width: 120px;
    height: 30px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 60, 60);
    box-shadow: 0px 0px 0px 2px rgba(222,222,222,1);
    border-radius: 3px;
    cursor: pointer;
  }
  .button-kick:hover{
    cursor: pointer;
    transition: 0.1s ease-in-out;
    color: white;
    background-color: rgb(206, 50, 50);
    box-shadow: 0px 0px 0px 2px rgba(222,222,222,1);
  }
  .display-member{
    font-size: 18px;
    font-weight: bold;
    color: rgb(75, 75, 75);
  }
  .button-member-profile{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: white;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    background-color: #202C5D;
    box-shadow: none;
  }
  .button-member-profile:hover{
    transition: 0.1s ease-in-out;
    color: white;
    box-shadow: 0px 0px 0px 5px rgba(222,222,222,1);
  }


  .button-add-member{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(206, 206, 206);
    box-shadow: none;
  }
  .button-add-member:hover{
    transition: 0.1s ease-in-out;
    background-color: rgb(161, 161, 161);
  }

  .popover-dec-add-member {
    width: 500px;
    box-shadow: 0 0 5px 0 rgb(131, 131, 131);
  }
  .button-invite{
    width: 80px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 2px rgba(222,222,222,1);
    border-radius: 3px;
    cursor: pointer;
  }
  .button-invite:hover{
    cursor: pointer;
    transition: 0.1s ease-in-out;
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 0px 0px 2px rgba(222,222,222,1);
  }