.bg {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(75deg, #D4145A , #0071BC);
}
.register-card{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.btn-submit-signup {
  border-radius: 25px;
  width: 200px;
  height: 50px;
  background-color: #202C5D;
  border-color: #FFFFFF00;
  color: #FFFFFF;
}
.btn-submit-signup:disabled {
  width: 200px;
  height: 50px;
  background-color: #CCCCCC;
  border-color: #FFFFFF00;
  color: #EEEEEE;
}
.btn-submit-signup:hover {
  background-color: #D4145A;
  border-color: #FFFFFF00;

}
.btn-submit-signup:disabled:hover  {
  background-color: #CCCCCC;
  border-color: #FFFFFF00;
}

.btn-tosignin {
  width: 200px;
  height: 50px;
  color: #0071BC;
  text-decoration: underline;
  background-color: #FFFFFF00;
  border-color: #FFFFFF00;
  outline: #FFFFFF00;
  padding: 0%;
}

.btn-tosignin:hover {
  color: #D4145A;
  border-color: #FFFFFF00;
  outline:#FFFFFF00;
}

.error-msg{
  color: red;
  font-size: 14px;
}

