.stack-card{
  /* background-color: lightcoral; */
  margin: 6% 0% 0% 90%;
  padding: 0% 0% 0% 0%;
  position: absolute;
  z-index: 5;
  overflow: hidden ;
  height: 62%;
  width: 10%;
}
.stack-card-active {
  /* background-color: lightcoral; */
  margin: 0% 0% 0% 10%;
  padding: 6% 0% 0% 80%;
  position: absolute;
  z-index: 5;
  overflow: hidden ;
  height: 85%;
  width: 90%;
}
