.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #D4145A;
  border-radius: 20px 20px 0 0;
  margin: 0px 0px 0px 0px;
  height: 80px;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  background-color: rgb(0, 255, 0);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5%;

}
.name-box{
  color: black;
  border-radius: 5px;
}
